<extend name="Public/base"/>

<block name="body">
    <div class="main-title">
        <h2>编辑任务配置管理</h2>
    </div>
    <form action="{:U()}" method="post" class="form-horizontal">
        <div class="form-item">
            <label class="item-label">科室分类名称<span class="check-tips">（用于后台显示所属科室分类）</span></label>
            <div class="controls">
                <select name="depart">
                    <volist name="depart" id="menu">
                        <option value="{$menu.id}">{$menu.name}</option>
                    </volist>
                </select>
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">机构组织<span class="check-tips">（用于后台显示所属机构组织）</span></label>
            <div class="controls">
                <select name="dept">
                    <volist name="dept" id="dept">
                        <option value="{$dept.id}">{$dept.title_show}</option>
                    </volist>
                </select>
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">任务发起位置<span class="check-tips">（选择开始位置或目标位置）</span></label>
            <div class="controls">
                <label class="radio"><input type="radio" name="start_position" value="1">开始位置</label>
                <label class="radio"><input type="radio" name="start_position" value="2">目标位置</label>
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">位置<span class="check-tips">（开始位置或目标位置）</span></label>
            <div class="controls">
                <input type="text" class="text" id="position_text" value="{$str_depart|default='请选择位置'}" onclick="open_iframe();">
                <input type="hidden" class="text" id="position" name="position" value="{$info.position|default='0'}">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">实时任务天数<span class="check-tips">（用于后台显示实时任务天数）</span></label>
            <div class="controls">
                <input type="text" class="text" name="days" value="{$info.days|default='0'}">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">完成时限<span class="check-tips">（用于后台显示的完成时限）</span></label>
            <div class="controls">
                <input type="text" class="text" name="time_limit" value="{$info.time_limit|default='0'}">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">发起任务频率<span class="check-tips">（用于后台显示的发起任务频率）</span></label>
            <div class="controls">
                <input type="text" class="text" name="task_fre" value="{$info.task_fre|default='0'}">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">任务权重<span class="check-tips">（用于后台显示的任务权重）</span></label>
            <div class="controls">
                <input type="text" class="text" name="weights" value="{$info.weights|default='0'}">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">任务调度超时<span class="check-tips">（请填入数字，单位为s，默认为120s）</span></label>
            <div class="controls">
                <input type="text" class="text" name="scheduled_timeout" value="{$info.scheduled_timeout|default='120'}">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">任务接收超时<span class="check-tips">（请填入数字，单位为s，默认为300s）</span></label>
            <div class="controls">
                <input type="text" class="text" name="receive_timeout" value="{$info.receive_timeout|default='300'}">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">任务完成超时<span class="check-tips">（请填入数字，单位为s，默认为600s）</span></label>
            <div class="controls">
                <input type="text" class="text" name="complete_overtime" value="{$info.complete_overtime|default='600'}">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">任务抢单超时<span class="check-tips">（请填入数字，单位为s，默认为120s）</span></label>
            <div class="controls">
                <input type="text" class="text" name="grab_timeout" value="{$info.grab_timeout|default='120'}">
            </div>
        </div>
        <div class="form-item">
            <input type="hidden" name="id" value="{$info.id|default=''}">
            <button class="btn submit-btn ajax-post" id="submit" type="submit" target-form="form-horizontal">确 定</button>
            <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
        </div>
    </form>
</block>

<block name="script">
    <script type="text/javascript" src="__STATIC__/layer.js"></script>
    <script type="text/javascript">
        Think.setValue("depart", {$info.depart|default = 0});
        Think.setValue("dept", {$info.dept|default = 0});
        Think.setValue("start_position", {$info.start_position|default = 0});
        //导航高亮
        highlight_subnav('{:U('index')}');

        function open_iframe(){
            var arrId = $('#position').val();
            var url = "{:U('iframe?id=')}";
            var arr = url.split(".");
            url = arr[0]+'.'+arr[1]+'/id/'+arrId+'.html';
            layer.open({
                type: 2,
                area: ['700px', '450px'],
                fixed: false, //不固定
                maxmin: true,
                content: url
            });
        }
    </script>
</block>